{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div class="fixed-action-btn">
        <a href="website-export/" title="Website export" class="btn-floating"><i class="material-icons">short_text</i></a> &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    <div class="fixed-action-btn">
        <a href="search-feature/" title="Search feature" class="btn-floating"><i class="material-icons">youtube_searched_for</i></a> &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
    {{ block.super }}
{% endblock %}